<header class="toolbar" role="banner">
  <span>{{headerText}}</span>
  <span>BOAT3 Erweiterungen v{{version}}</span>
  <div class="spacer"></div>
  <ng-container *ngIf="(authenticated | async) === true">
    <div id="username">
      {{authenticatedUser | async}}
    </div>
    <button class="card selectable" (click)="logout()">
      Abmelden ({{(remainingTime)}})
    </button>
  </ng-container>
</header>

<main class="content" role="main">
  <router-outlet></router-outlet>
</main>

<footer>
  <p *ngIf="(errorPresent | async) === true && (passwordExpired | async) === false" class="error">
    {{error | async}}
  </p>
  <ng-container *ngIf="(passwordExpired | async) === true">
    <div class="backdrop"></div>
    <div class="busy">
      Ihr Kennwort ist abgelaufen. Sie müssen zu <a href="https://www.boat.bva.bund.de/login">BOAT (https://www.boat.bva.bund.de)</a> wechseln, um es zu erneuern.
      Danach können Sie hierher zurückkehren und sich mit dem neuen Passwort anmelden.
    </div>
  </ng-container>
</footer>

<ng-container *ngIf="busy === true">
  <div class="backdrop"></div>
  <div class="busy">Arbeite...</div>
</ng-container>