<div class="toolbar" role="banner">
  <span>BOAT</span>
  <span>BOAT3 Importer</span>
  <div class="spacer"></div>
  <div>{{authenticatedUser}}</div>
</div>

<div class="content" role="main">
  <ng-container *ngIf="!authenticated">
    <div class="card-container">
      <div>BOAT3-Benutzername:</div>
      <div>
        <input type="text" class="selectable" [(ngModel)]="username">
      </div>
    </div>
    <div class="card-container">
      <div>Kennwort:</div>
      <div>
        <input type="password" class="selectable" [(ngModel)]="password" (keydown.enter)="login()">
      </div>
    </div>
    <div class="card-container">
      <div>
        <button type="button" class="selectable" (click)="login()">Anmelden</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="authenticated">
    <app-contract-list></app-contract-list>
  </ng-container>
  <!-- Footer -->
  <footer>
    <p *ngIf="error" class="error">
      {{error}}
    </p>
  </footer>

</div>

<ng-container *ngIf="(appBusy | async) === true">
  <app-busy>
    <div class="card">
      Arbeite...
    </div>
  </app-busy>
</ng-container>
