<header class="toolbar" role="banner">
  <span>BOAT</span>
  <span>BOAT3 Erweiterungen v1.0</span>
  <div class="spacer"></div>
  <ng-container *ngIf="(authenticated | async) === true">
    <div>
      <div>
        {{authenticatedUser | async}}
      </div>
      <div>
        ({{(remainingTime)}})
      </div>
    </div>
    <button class="card selectable" style="min-width: unset;" (click)="logout()">Abmelden</button>
  </ng-container>
</header>

<main class="content" role="main">
  <router-outlet></router-outlet>
</main>

<footer>
  <p *ngIf="(errorPresent | async) === true" class="error">
    {{error | async}}
  </p>
</footer>

<ng-container *ngIf="(busy | async) === true">
  <div class="backdrop"></div>
  <div class="busy">Arbeite...</div>
</ng-container>