<ng-container *ngIf="allowedMonths.length > 0">
    <h2>Pr&uuml;fung</h2>
    <div class="card selectable" (click)="show = 'names'">Sachliche Richtigkeit</div>
    <div class="card selectable" (click)="show = 'numbers'">Rechnerische Richtigkeit</div>
</ng-container>

<ng-container *ngIf="allowedMonths.length === 0">
    Keine Leistungsnachweise gefunden
</ng-container>

<ng-container *ngIf="show !== 'nothing'">
    <div class="backdrop" (click)="show = 'nothing'"></div>
    <div class="overlay extended" *ngIf="show === 'names'">
        <div class="upper-right-corner selectable card" style="width: unset;" (click)="show = 'nothing'">Schließen</div>
        <div>
            <h1>
                {{contract.name}}
            </h1>
            <p class="center">
                {{contract.description}}
            </p>
            <p>
                Diese Ansicht erlaubt die Pr&uuml;fung der sachlichen Richtigkeit einer Rechnung. Sie k&ouml;nnen die Ansicht nach Datum oder nach
                Person sortieren, oder die Daten f&uuml;r den Monat nach Excel exportieren.
            </p>
            <div class="side-by-side">
                <div class="card">
                    Leistungszeitraum:
                    <select [(ngModel)]="selectedMonth" class="selectable" style="min-width: 6rem;">
                        <option *ngFor="let month of allowedMonths" [value]="month">
                            {{month}}
                        </option>
                    </select>
                </div>
                <div>
                    <div class="card selectable" (click)="exportNames()">Nach Excel exportieren</div>
                </div>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th [ngClass]="{selectable: sort !== 'time'}" (click)="sort = 'time'" class="no-wrap">
                        Datum
                        <ng-container *ngIf="sort === 'time'"> &#8595;</ng-container>
                    </th>
                    <th>Uhrzeit</th>
                    <th>Stunden</th>
                    <th [ngClass]="{selectable: sort !== 'person'}" (click)="sort = 'person'" class="no-wrap">
                        Person
                        <ng-container *ngIf="sort === 'person'"> &#8595;</ng-container>
                    </th>
                    <th *ngIf="keysPresent" class="no-wrap">Schl&uuml;ssel</th>
                    <th>T&auml;tigkeit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of deliverables">
                    <td class="no-wrap">
                        {{row.date.toLocaleDateString()}}
                    </td>
                    <td class="no-wrap">
                        {{row.startTime}} - {{row.endTime}}
                    </td>
                    <td class="no-wrap">
                        {{row.duration * 8}}
                    </td>
                    <td class="no-wrap">
                        {{row.person}}
                    </td>
                    <td *ngIf="keysPresent" class="no-wrap">
                        {{row.key}}
                    </td>
                    <td style="white-space: pre-line;">
                        {{row.text}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="overlay" *ngIf="show === 'numbers'">
        <div>
            <div class="upper-right-corner selectable card" style="width: unset;" (click)="show = 'nothing'">Schließen</div>
            <h1>
                {{contract.name}}
            </h1>
            <p class="center">
                {{contract.description}}
            </p>
            <p>
                Diese Ansicht erlaubt die Pr&uuml;fung der rechnerischen Richtigkeit einer Rechnung. Sind die angezeigten Summen identisch
                mit den Summen der Rechnung, wurde durch einen zweiten Rechnungsweg gepr&uuml;ft, dass die Rechnung rechnerisch richtig ist.
            </p>
            <p>
                Voraussetzung ist, dass vorher die Eintr&auml;ge sachlich gepr&uuml;ft und ggf. nicht zutreffende Eintr&auml;ge entfernt wurden.
            </p>
            <div class="side-by-side">
                <div class="card">
                    Leistungszeitraum:
                    <select [(ngModel)]="selectedMonth" class="selectable" style="min-width: 6rem;">
                        <option *ngFor="let month of allowedMonths" [value]="month">
                            {{month}}
                        </option>
                    </select>
                </div>
                <div>
                    <div class="card selectable" (click)="exportNumbers()">Zeitraum nach Excel exportieren</div>
                </div>
                <div>
                    <div class="card selectable" (click)="exportAllNumbers()">Alle Daten nach Excel exportieren</div>
                </div>
            </div>
            <table class="center">
                <thead>
                    <tr>
                        <th>Preiskategorie</th>
                        <th>PT</th>
                        <th>Stunden</th>
                        <th>Kosten</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of priceCategorySums">
                        <td>
                            {{entry[0]}}
                        </td>
                        <td class="right">
                            {{entry[1].days | number: '1.3-3':'de'}}
                        </td>
                        <td class="right">
                            {{entry[1].days * 8 | number: '1.2-2':'de'}}
                        </td>
                        <td class="right">
                            {{entry[1].price | number: '1.2-2':'de'}} &#8364;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Summe (netto)</b>
                        </td>
                        <td class="right">
                            {{sumDays | number: '1.3-3':'de'}}
                        </td>
                        <td class="right">
                            {{sumDays * 8 | number: '1.2-2':'de'}}
                        </td>
                        <td class="right">
                            {{sum | number: '1.2-2':'de'}} &#8364;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            MWSt
                            <input type="number" required="true" [(ngModel)]="taxRate" class="right">
                            %
                        </td>
                        <td class="right">
                            {{tax | number: '1.2-2':'de'}} &#8364;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <b>Summe (brutto)</b>
                        </td>
                        <td class="right">
                            <b>{{(sum + tax) | number: '1.2-2':'de'}} &#8364;</b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
