<ng-container *ngIf="showSettings">
    <div class="backdrop" (click)="showSettings = false"></div>
    <div class="overlay">
        <div class="upper-right-corner selectable card" style="width: unset;" (click)="showSettings = false">Schlie&szlig;en</div>
        <h1>Einstellungen</h1>
        <div class="settings">
            <h2>Export</h2>
            <div>
                <input type="checkbox" [(ngModel)]="withContract">Mit Vertragsnamen
            </div>
            <div>
                <input type="checkbox" [(ngModel)]="withPersons">Mit Personennamen
            </div>
            <div>
                <input type="checkbox" [(ngModel)]="withTimes">Mit Uhrzeiten
            </div>
            <div>
                <input type="checkbox" [(ngModel)]="withText">Mit Text
            </div>
            <div>
                <button type="button" class="selectable" (click)="saveSettings()">
                    Export-Einstellungen dauerhaft speichern
                </button>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="showExport">
    <div class="backdrop" (click)="showExport = false"></div>
    <div class="overlay">
        <div class="upper-right-corner selectable card" style="width: unset;" (click)="showExport = false">Schlie&szlig;en</div>
        <h1>Export in die Datenbank</h1>
        <p>
            Die Controlling-Datenbank wird für weitergehende Auswertungen benutzt. Die Daten der eigenen Vertr&auml;ge k&ouml;nnen dorthin synchronisiert werden.
        </p>
        <div class="card selectable" *ngIf="syncIsAuthorized" (click)="exportToDataBase()">
            Synchronisation starten
        </div>
    </div>
</ng-container>
<ng-container *ngIf="exporting">
    <div class="backdrop" style="z-index: 200;"></div>
    <div class="overlay" style="z-index: 210;">
        <h1 *ngIf="!exportFinished">Export durchf&uuml;hren...</h1>
        <h1 *ngIf="exportFinished">Export durchgef&uuml;hrt</h1>
        <div class="rel">
            Fortschritt...
            <div class="gauge"
                [ngStyle]="{width: (100 * exportCounter / contracts.length | number:'1.0-0') + '%'}">
            </div>
        </div>
        <table>
            <tr>
                <th>Element</th>
                <th>Neu erstellt</th>
                <th>Aktualisiert</th>
                <th>Gel&ouml;scht</th>
                <th>Unver&auml;ndert</th>
            </tr>
            <tr>
                <td>Vertr&auml;ge</td>
                <td>{{exportResult.created}}</td>
                <td>{{exportResult.updated}}</td>
                <td>{{exportResult.deleted}}</td>
                <td>{{exportResult.unchanged}}</td>
            </tr>
            <tr>
                <td>Preiskategorien</td>
                <td>{{exportResult.priceCategories.created}}</td>
                <td>{{exportResult.priceCategories.updated}}</td>
                <td>{{exportResult.priceCategories.deleted}}</td>
                <td>{{exportResult.priceCategories.unchanged}}</td>
            </tr>
            <tr>
                <td>Vertragselemente</td>
                <td>{{exportResult.budgets.created}}</td>
                <td>{{exportResult.budgets.updated}}</td>
                <td>{{exportResult.budgets.deleted}}</td>
                <td>{{exportResult.budgets.unchanged}}</td>
            </tr>
            <tr>
                <td>Leitungselemente</td>
                <td>{{exportResult.deliverables.created}}</td>
                <td>{{exportResult.deliverables.updated}}</td>
                <td>{{exportResult.deliverables.deleted}}</td>
                <td>{{exportResult.deliverables.unchanged}}</td>
            </tr>
        </table>
        <div class="card selectable" *ngIf="exportFinished" (click)="exporting = false">
            Schlie&szlig;en
        </div>
    </div>
</ng-container>
<h1>
    Allgemeine Aktionen
</h1>
<div class="card selectable" (click)="showSettings = true">
    Export-Einstellungen &auml;ndern
</div>
<div class="card selectable" (click)="exportAllContracts()">
    Alle Vertr&auml;ge nach Excel exportieren
</div>
<div class="card selectable" *ngIf="syncIsAuthorized" (click)="showExport = true">
    Vertr&auml;ge in die Datenbank synchronisieren
</div>
<hr>
<h1>Ihre Vertr&auml;ge</h1>
<div class="card-container">
    <div class="card"
        *ngFor="let contract of contracts"
        [ngClass]="{highlighted: contract === selectedContract, selectable: contract !== selectedContract}"
        (click)="selectedContract = contract">
        <div>
            <b>{{contract.name}}</b>
        </div>
        <div>
            <div>
                <b>Bezeichnung</b>:
                {{contract.description}}
            </div>
            <div>
                <b>Verantwortlich</b>: {{contract.responsiblePerson}} ({{contract.organizationalUnit}})
            </div>
            <ng-container *ngIf="contract === selectedContract">
                <div>
                    <b>Beginn</b>: {{contract.start.toLocaleDateString()}},
                    <b>Ende</b>: {{contract.end.toLocaleDateString()}}
                </div>
                <div>
                    <b>Budget</b>: {{contract.completeBudget.availableFinances | number: '1.2-2':'de'}} &#8364;,
                    {{contract.completeBudget.availableUnits | number: '1.3-3':'de'}} PT
                </div>
            </ng-container>
        </div>
        <app-contract-detail [contract]="contract" *ngIf="contract === selectedContract" class="operations"></app-contract-detail>
    </div>
</div>
<p *ngIf="!selectedContract" style="margin-left: 1rem;">W&auml;hlen Sie einen Vertrag aus, um weitere Aktionen daf&uuml;r zu erhalten.</p>
