.card {
    & > div:first-of-type {
        align-self: center;
        padding-right: 1rem;
        border-right: 1px double black;
        margin-right: 1rem;
        height: 100%;
        font-size: 140%;
    }

    width: calc(100% - 3rem);
    align-items: flex-start;
    justify-content: left;
    height: unset;
    margin-right: 0;
    margin-bottom: 1rem;

    .operations {
        border-left: double 1px black;
        margin-left: 1rem;
        padding-left: 1rem;
        height: 100%;
        button {
            width: 100%;
        }
    }
}

.settings {
    div {
        padding: 0.25rem;
    }
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    min-width: 200px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    padding: 16px;
    width: calc(100% - 3rem);
}

.overlay {
    min-height: 30vh;
    text-align: left;
    @media (min-width: 30rem) {
        min-width: 28rem;
        h1 {
            margin-top: 1.5rem;
        }
    }
}

.upper-right-corner {
    justify-content: center;
    min-width: 5rem;
}

