.settings {
    div {
        padding: 0.25rem;
    }
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    min-width: 200px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    padding: 16px;
    width: calc(100% - 3rem);
}

